@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
font-family: 'Poppins', sans-serif;
margin: 0px;
padding: 0px;
box-sizing: border-box;
scroll-behavior: smooth;
}

header{ 
    background-color: #FFF8EA;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px; 
}

.LOGO{
    text-decoration: none;
    color: #594545;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;

}

.navigation a {
    color: #594545;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}
.navigation a:hover{
    color: #9E7676;
}

section{
    padding: 100px 200px;

}

.Main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../res/img/main.png) no-repeat;
    background-color: #9E7676;
    background-size: cover;
    background-attachment: fixed;

}

.Main h2{
    color: #FFF8EA;
    font-size: 1.4em;
    font-weight: 500;
}
.Main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: #681105;
font-size: 3em;
font-weight: 600;
}

.Main h3 {
    color: #FFF8EA;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn {
    color: #FFF8EA;
    background-color: #594545;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: #221d1d;
    transform:scale(1.1) 
}

.social-icons a {
    color: white;
    font-size: 1.7em;
    padding-right: 30px;
}

.title{
    display: flex;
    justify-content: center;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 40px;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.card{
    background-color: white;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform:scale(1.1) 
}

.icon{
   color: #594545;
   font-size: 8em;
   text-align: center;
}
.info{
    text-align: center;
}

.info h3{
    color: #594545;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.projects{ 
    background-color: #9E7676;
}
.projects .content{
    margin-top: 30px;

}

.project-card{
    background-color: aliceblue;
    border: 1px solid white;
    border-radius: 10px;
    min-height: 14em;
    width: 40em;
    overflow: hidden;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover{
    transform: scale(1.1);
}

.project-img img{
width: 100%;
}
.project-card:hover .project-img{
    opacity: 0.9;
}

.project-info {
    padding: 0.8em;
}

.project-catygory{
    font-size: 0.8em;
    color: black;

}

.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.More-Details{
    text-decoration: none;
}
.More-Details:hover{
    color: #681105;
}















